<head>

	<title>{{ .Title }} | p0ker</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="p0ker | Learnings playing poker">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/logo.jpg">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>